.search-map-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.search-map-form input {
    padding: 8px 12px;
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    margin-bottom: 24px;
    width: 100%;
}

.select-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.select-buttons-container h5 {
    font-size: 14;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
}

.select-category-btn {
    margin-bottom: 0;
    margin-right: 5px;
    padding: 10px;
    width: auto;
    background-color: #D9D9D9;
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.interactive-map {
    width: 70%;
    height: 470px;
    background-color: #D9D9D9;
    margin: 60px auto;
}

.featured-services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.guides-container {
    margin-top: 24px;
    padding: 20px;
}

.category {
    border: none;
    align-items: center;
    width: 35%;
    text-align: center;
}

.category h3 {
    font-size: 20px;
}

.service-description {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgba(0,0,0,0.5);
    margin: 20px;
}

.number-of-services {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.services-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 60px 0;
}

.question-form {
    display: flex;
    flex-direction: column;
    width: 47%;
    font-family: 'Roboto', sans-serif;
}

.form-container img {
    width: 47%;
}

.reset {
    background-color: white;
    border: 2px solid black;
    color: black;
}

label {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.question-form input{
    padding: 8px 12px;
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    width: 100%;
}

input::placeholder {
    font-size: 14px;
}

.optional {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

.submit-btn {
    margin-top: 24px;
}

.question-form button {
    margin-bottom: 0;
}