.guides-header {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.guides-section {
    align-items: center;
}

.category {
    margin: 0 90px;
}

.companion-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 290px;
    margin: 60px auto;
    background-color: #D9D9D9;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 7px;
}
